<!--
  Generated template for the AssociationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Associations</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let association of listAssociations" (click)="getAssociationPage(association)">
      <ion-item-sliding  >
        <ion-item >
      <ion-card-title>{{association.Name}}</ion-card-title>
      <ion-card-header>
        {{association.Description}}
        {{association.id}}
        <p color="danger">{{user.email}}</p>

      </ion-card-header>
      <ion-card-content>
        <ion-icon *ngIf="!association.isSubscriber" (click)="subscribe(association)" name="checkmark" type="primary"></ion-icon>
        <ion-icon *ngIf="association.isSubscriber" (click)="subscribe(association)" name="checkmark-circle" type="secondary"></ion-icon>
      </ion-card-content>
        </ion-item>
        <ion-item-options side="end" *ngIf="user.roles.admin == true ">
          <button color="danger" ion-button>Supprimer</button>
          <button color="primary" ion-button>Modifier</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>
</ion-content>
