<ion-header>
    <ion-toolbar>
        <ion-title>
            Mes cursus
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary">Valider</span>
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list radio-group>
        <ion-list-header>
            Cursus
        </ion-list-header>

        <ion-item *ngFor="let cours of listCours">
            <ion-label>{{cours.name}}</ion-label>

            <ion-radio *ngIf="cours.isSubscriber==true" checked="true" value="{{cours.id}}"
                       (click)="select(cours)"></ion-radio>

            <ion-radio *ngIf="cours.isSubscriber==false" checked="false" value="{{cours.id}}"
                       (click)="select(cours)"></ion-radio>
        </ion-item>
    </ion-list>
</ion-content>