<ion-header>
    <ion-toolbar>
        <ion-title>
            Mes cursus
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <!--  <span ion-text color="primary">Valider</span> -->
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="user.roles.prof==true">
        <ion-list radio-group>
            <ion-list-header>
                Cursus
            </ion-list-header>

            <ion-item *ngFor="let cours of listCours">
                <ion-label>{{cours.name}}</ion-label>

                <ion-radio checked="{{cours.isSubscriber}}" value="{{cours.id}}"
                           (click)="select(cours)"></ion-radio>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="user.roles.prof==false">
        <ion-list>
            <ion-item *ngFor="let cours of listCours">
                <ion-label>{{cours.name}}</ion-label>
                <ion-checkbox slot="end" [(ngModel)]="cours.isSubscriber"></ion-checkbox>
            </ion-item>
        </ion-list>
    </div>

    <!-- <ion-item>
        <ion-label>Daenerys Targaryen</ion-label>
        <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
        <ion-label>Arya Stark</ion-label>
        <ion-checkbox disabled="true"></ion-checkbox>
    </ion-item> -->

</ion-content>