<ion-header>
    <ion-toolbar>
        <ion-title>
            Mes cursus
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list radio-group>
        <ion-list-header>
            Cursus
        </ion-list-header>
        <ion-item *ngFor="let cours of listCoursSubscribed">
            <ion-label>{{cours.name}}</ion-label>
            <ion-radio checked="true" value="{{cours.id}}" (click)="select(cours)"></ion-radio>
        </ion-item>
        <ion-item *ngFor="let cours2 of listCoursUnsubscribed">
            <ion-label>{{cours2.name}}</ion-label>
            <ion-radio value="{{cours2.id}}" (click)="select(cours2)"></ion-radio>
        </ion-item>
    </ion-list>
</ion-content>