<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

  <ion-card *ngFor="let message of listMessage">
    <ion-card-header>
      {{message.message}}
    </ion-card-header>
    <ion-card-content>
      <ion-icon *ngIf="message.idUser == idUser || isAdmin==true" (click)="removeMessage(message)" name="close" color="danger"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom *ngIf="isAdminOfAsso">
    <button (click)="addMessage()" ion-fab color="primary">
      <ion-icon name="add">
      </ion-icon>
    </button>
  </ion-fab>

</ion-content>
