<!--
  Generated template for the TabAssociationCreatedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>

    <div style="text-align: center" *ngIf="myAssociationsCreate.length == 0 || myAssociationsCreate == undefined">
        <h1 style="color: #8c8c8c">Pas d'associations !</h1>
    </div>

    <ion-list *ngIf="myAssociationsCreate.length != 0">
    <ion-card *ngFor="let association of myAssociationsCreate" >
        <div>
            <img src="{{association.picLink}}" *ngIf="association.picLink != null">
        <ion-item-sliding  >
            <ion-item >
        <ion-card-title (click)="getAssociationPage(association)">{{association.Name}}</ion-card-title>
            </ion-item>
            <ion-item-options side="end">
                <button color="danger" ion-button (click)="deleteAsso(association.id)">Supprimer</button>
                <button color="primary" ion-button (click)="modifyAsso(association)">Modifier</button>
            </ion-item-options>
        </ion-item-sliding>
        </div>
    </ion-card>
    </ion-list>

    <ion-fab right bottom *ngIf="userCanCreateNbAsso > 0">
        <button (click)="addAsso()" ion-fab color="primary">
            <ion-icon name="add">
            </ion-icon>
        </button>

    </ion-fab>
</ion-content>
